<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    <!-- webdriver is the name of package and simplecommands is the name of its class.-->
      <class name="WebDriver.SimpleCommands"/>
      <class name="WebDriver.Dp"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
